<table>
    <tr>
        <th>
            Name:
            <strong>MADHUMITA KUMARI</strong>
        </th>
        <th>
            Class:
            <strong>12th</strong>
        </th>
        <th>
            Registration No:
            <strong>183521</strong> 
        </th>
        <th>
            School:
            <strong>School of Science</strong>
        </th>
    </tr>
</table>
<br>
<br>

<form>  
    <div class="container">   
        <label>RegistrationId : </label>   
        <input type="number" placeholder="Enter Registration Id" name="registration" required> 
        <br>
        <label>Class : </label>   
        <input type="number" placeholder="Enter Class" name="class" required>   
        <button type="submit" btn btn-primary>Submit</button>   
    </div>   
</form>
