<h1>Marks Details</h1>
<div>
  <form #form="ngForm" (ngSubmit)="getResult()">
    <div class="container"> 
        <label>Class : </label> 
        <select class="form-control" name="selectedClass" [(ngModel)]="selectedClass">  
          <option   *ngFor="let classDetail of classDetails" [value]="classDetail.id">{{classDetail.className}}</option>
        </select>
        <button type="submit" btn btn-primary>Submit</button>   
    </div>   
  </form>
</div>

  <br>
  <br>
  <br>


<table *ngIf="results?.length">
  <tr>
    <th>Sl No.</th>
    <th>Subject</th>
    <th>Full Marks</th>
    <th>Scored Marks</th>
    <th>Pecentage</th>
  </tr>
  <tr *ngFor="let result of results">
    <td>{{result.id}}</td>
    <td>{{result.subject}}</td>
    <td>{{result.fullMarks}}</td>
    <td>{{result.scoredMarks}}</td>
    <td>{{result.scoredMarks % result.fullMarks}}</td>
  </tr>
</table>